<mat-nav-list class="back">

    <!-- 
    <h2 matSubheader class="headingstyle"><b>Admin</b></h2>

    <a class="title1" mat-list-item routerLinkActive="list-item-active" routerLink="/layout">
        <mat-icon class="sideicon">dashboard</mat-icon>&nbsp;
        Dashboard
    </a>
    <a class="title1" mat-list-item routerLinkActive="list-item-active" routerLink="/forms">
        <mat-icon class="sideicon">local_post_office</mat-icon>&nbsp;
        Daily Dashboard
    </a>

    <a  href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle  side">
    <mat-icon class="childrouting ">chrome_reader_mode</mat-icon>
        Masters 
      </a>
    <ul class="collapse list-unstyled" id="pageSubmenu1">


        <a routerLink="/layout/booksizelist">
            <li class="side1">
                Book Size
            </li>
        </a>
        <a routerLink="/layout/booksizelist">
            <li class="side1">
                Book Size
            </li>
        </a>
        <a routerLink="/layout/booksizelist">
            <li class="side1">
                Book Size
            </li>
        </a>
    </ul>
    <mat-divider style="border: none;"></mat-divider>
    <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle side"> 
        <mat-icon class="childrouting ">chrome_reader_mode</mat-icon>
        Reports
        </a>
    <ul class="collapse list-unstyled" id="pageSubmenu4">
        <a routerLink="/layout/monthlyorderreport">
            <li class="side1">
                Monthly Repory
            </li>
        </a>
        <a routerLink="/layout/monthlyorderreport">
            <li class="side1">
                Monthly Repory
            </li>
        </a> 
        <a routerLink="/layout/monthlyorderreport">
            <li class="side1">
                Monthly Repory
            </li>
        </a>
        <a routerLink="/layout/monthlyorderreport">
            <li class="side1">
                Monthly Repory
            </li>
        </a>
         <a routerLink="/layout/monthlyorderreport">
            <li class="side1">
                Monthly Repory
            </li>
        </a>
    </ul> -->


    <div style="text-align:center;margin-top:25px;font-weight:bold;text-decoration:none;">
        <a> Admin</a>
    </div>

    <nav class="navecation">
        <ul id="navi">
            <mat-divider></mat-divider>

            <li><a class="menu active" routerLink="/layout">
                    <i class="fa fa-desktop pr-3" aria-hidden="true"></i>
                    Dashboard </a>
            </li>
            <mat-divider></mat-divider>

            <li><a class="menu" routerLink="/layout">
                    <i class="fa fa-calendar pr-3" aria-hidden="true"></i>
                    Daily Dashboard </a>
            </li>
            <mat-divider></mat-divider>
            <li>
                <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-book pr-3" aria-hidden="true"></i> 
                      <!-- <mat-icon class="childrouting " style="margin-bottom: 15px;">chrome_reader_mode</mat-icon> -->

                    Masters &nbsp;&nbsp;
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu4">
                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                    <mat-divider></mat-divider>
                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                    <mat-divider></mat-divider>
                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                    <mat-divider></mat-divider>
                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                    <mat-divider></mat-divider>
                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                </ul>
            </li>
            <mat-divider></mat-divider>


            <li>
                <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-newspaper-o pr-3" aria-hidden="true"></i> Prdoucts
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu5">
                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                    <mat-divider></mat-divider>

                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                    <mat-divider></mat-divider>

                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                    <mat-divider></mat-divider>

                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                    <mat-divider></mat-divider>

                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                </ul>
            </li>
            <mat-divider></mat-divider>
            <li>
                <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-newspaper-o pr-3" aria-hidden="true"></i> Prdoucts
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu5">
                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                    <mat-divider></mat-divider>

                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                    <mat-divider></mat-divider>

                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                    <mat-divider></mat-divider>

                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                    <mat-divider></mat-divider>

                    <a routerLink="/layout/booksizelist">
                        test link
                    </a>
                </ul>
            </li>
            <mat-divider></mat-divider>
            <li><a class="menu" routerLink="/layout/imagezoom">
                <i class="fa fa-picture-o pr-3" aria-hidden="true"></i>
                ImageZoom </a>
        </li>
        <mat-divider></mat-divider>

        </ul>
    </nav>

</mat-nav-list>