
                <h1 class="mb-2 text-center">Image Zoom</h1>
           

<section class="product ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10  webshop-zoom">
                <div class="row">
                    <div class="Zoom-Images">
                        <section class="content">
                            <article class="demo-area">
                                <div class="row">
                                    <div class="col-md-5">
                                        <a class="demo-trigger" href="../../assets/Product/Chicken Kheema.jpg">
                                            <img src="../../assets/Product/Chicken Kheema.jpg">
                                            <!-- {{productModel.photoLink}}-->
                                        </a>
                                    </div>
                    
                                    <div class="col-md-7">
                                        <div class="detail">
                    
                                            <h3>Name : <strong>
                                                <!-- {{productList[0].categoryModel.name}} -->
                                            </strong> </h3>
                                            <p> <strong>Description : </strong>
                                                <!-- {{productList[0].categoryModel.descriptions}} -->
                                            </p>
                                            <!-- <p> <strong>Category : </strong>{{productModel.descriptions}}</p> -->
                                            <ul>
                                                <li>Hover over the camera image to magnify!</li>
                                                <li>You can also click to zoom!</li>
                                                <li>Works as touch on mobile devices!</li>
                                                <li>imgix makes it simple to dynamically size.</li>
                                                <li class="responsive-hint">(Psst… try making your browser window smaller!)</li>
                                            </ul>
                    
                                        </div>
                                    </div>
                    
                                </div>
                    
                            </article>
                        </section>
                        <hr>
                    </div>
                    
                </div>

            </div>
        </div>

    </div>

</section>
